<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>送给最亲爱的宝宝</string>
	<string>从相识到相恋</string>
	<string>是我从未想象的速度</string>
	<string>仿佛认识的是许多年前和许多年后的你</string>
	<string></string>
	<string>那一天，齐白石拯救了我的灵魂</string>
	<string>友人曾说，我会遇到一个内心富足的女孩</string>
	<string>那是无可匹敌的魅力</string>
	<string>在我的世界摧枯拉朽，不可断绝</string>
	<string></string>
	<string>纵横海洋的鲸波怒岚</string>
	<string>往往来自绿谷原野阴差阳错的溪汇</string>
	<string>不管是蝴蝶向左多扇了一次还是其他</string>
	<string>总之，恰好遇到了你，刚刚好</string>
	<string></string>
	<string>事情总是突然发生</string>
	<string>原因总会之后才知道</string>
	<string>我们时常沟通，争吵，无奈甚至绝望</string>
	<string>最后才发现只是对方简简单单的小心愿</string>
	<string></string>
	<string>只要是人</string>
	<string>都是依靠自己的知识和认知并且也被之束缚生活着的</string>
	<string>那就叫现实</string>
	<string>但是知识和认知是暧昧不清的东西</string>
	<string>现实也许只是因为执念才存在</string>
	<string>我亦活在执念中</string>
	<string>我选择你 </string>
	<string>因为我想相信你</string>
	<string>并且为之坚持下去</string>
	<string></string>
	<string>无论我给予你鼓励，约束，妥协</string>
	<string>是因为我相信</string>
	<string>相信两个人相互信任互相成为执念的一天终会到来</string>
	<string>那是不会为情绪蒙蔽</string>
	<string>不会为短暂的分离不安</string>
	<string></string>
	<string>既是相爱</string>
	<string>自当幸福延绵不断绝</string>
	<string></string>
	<string>于此尽我所言，与伊共勉</string>
	<string></string>
	<string>**屏幕中有一份隐藏的惊喜，找找吧**</string>
</array>
</plist>
